.profile-wrap{
  margin:40px 0px 10px 0px;
  width:100%;
}

.profile-image-top {
  text-align: right;
}

.round-img{
  border-radius:50%;
  width: 120px;
  height: 120px;
}

.edit-profile-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.follow-now-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.follow-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #007bff;
  font-size: 14px;
}

.setting {
  background-image: url("/images/parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 7px 0 0 10px;
  background-size: 22px!important;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.user-name-font {
  font-weight: 300;
  font-size: 28px;
}

.name-font {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.setting-modal-margin {
  margin-top: 130px;
}

.information {
  &-tag1 {
    color: #262626;
  }
  &-tag2 {
    color: #262626;
    font-weight: 600;
  }
  &-ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    & > li {
      font-size: 16px; 
      margin-right: 40px; 
      &:first-child {
        margin-left: -40px;
      }
      a {
        text-decoration: none;
        color: #262626;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .followers-modal-content {
    max-height: 400px !important;
  }
  .followers-modal-margin {
    margin-top: 200px;
  }
  .profile-image {
    margin-right: 20px;
  }
  .photogallery {
    display: flex;
    flex-wrap: wrap;
    width:85%;
    margin:0 auto;
  }
}

@media screen and (max-width: 767px) {
  .information {
    &-tag1 {
      text-align: center ;
      color: #999 !important;
    }
    &-tag2 {
      display: block;
      color: #262626;
      font-weight: 600;
    }
    &-ul {
      justify-content: space-around;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      padding: 12px 0;
      display: flex;
      list-style: none;
      flex-direction: row;
      width: 100%;
      & > li {
        font-size: 14px;
        text-align: center;
        width: 33.3%;
        &:first-child {
        margin-left: 0px;
        }
        a {
          text-decoration: none;
          color: #262626;
        }
      }
    }
  }
  
  .user-name-font {
    margin-left: 10px;
  }
  
  .name-font {
    margin-left: 10px;
  }
  
  .profile-image-top {
    text-align: center;
  }
  
  .photogallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:0 auto;
  }
}

.followers {
  &-modal-content {
    width:400px;
  }
  &-user-name {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none; 
  }
  &-name {
    color: #262626;
    text-decoration: none; 
  }
  &-li {
    margin-left: 0px;
    height: 46px;
  }
  &-status {
    margin: 0 0 0 auto;
  }
  &-modal-title {
    font-size: 16px;
  }
  &-modal-body {
    padding-bottom: 0px;
  }
  &-ul {
    list-style: none;
    padding-left: 0px;
  }
  &-img {
    border-radius: 50%;
    vertical-align: middle;
    height: 30px;
    width: 30px;
  }
}

.margin-left-10 {
  margin-left:10px;
}

.margin-0-auto {
  margin:0 auto;
}

.photo {
  position: relative;
  width: 31%;
  height: auto;
  margin: 1%;
  overflow: hidden;
}

.photo:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.inner {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.inner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}