.profile-wrap {
  margin: 40px 0px;
  width: 100%;
}
.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit-profile-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.follow-now-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.follow-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #007bff;
  font-size: 14px;
}
.setting {
  background-image: url("/images/parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 7px 0 0 10px;
  background-size: 22px !important;
  border: none;
}
.setting:hover {
  cursor: pointer;
}
.user-name-font {
  font-weight: 300;
  font-size: 28px;
}
.name-font {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.setting-modal-margin {
  margin-top: 130px;
}
.information-tag1 {
  color: #262626;
}
.information-tag2 {
  color: #262626;
  font-weight: 600;
}
.information-ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.information-ul > li {
  font-size: 16px;
  margin-right: 40px;
}
.information-ul > li:first-child {
  margin-left: -40px;
}
.information-ul > li a {
  text-decoration: none;
  color: #262626;
}
@media screen and (min-width: 768px) {
  .followers-modal-content {
    max-height: 400px !important;
  }
  .followers-modal-margin {
    margin-top: 200px;
  }
}
@media screen and (max-width: 767px) {
  .information-tag1 {
    text-align: center;
    color: #999 !important;
  }
  .information-tag2 {
    display: block;
    color: #262626;
    font-weight: 600;
  }
  .information-ul {
    justify-content: space-around;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 12px 0;
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
  }
  .information-ul > li {
    font-size: 14px;
    text-align: center;
    width: 33.3%;
  }
  .information-ul > li:first-child {
    margin-left: 0px;
  }
  .information-ul > li a {
    text-decoration: none;
    color: #262626;
  }
  .user-name-font {
    margin-left: 10px;
  }
  .name-font {
    margin-left: 10px;
  }
}
.followers-modal-content {
  width: 400px;
}
.followers-user-name {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
}
.followers-name {
  color: #262626;
  text-decoration: none;
}
.followers-li {
  margin-left: 0px;
  height: 46px;
}
.followers-status {
  margin: 0 0 0 auto;
}
.followers-modal-title {
  font-size: 16px;
}
.followers-modal-body {
  padding-bottom: 0px;
}
.followers-ul {
  list-style: none;
  padding-left: 0px;
}
.followers-img {
  border-radius: 50%;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-0-auto {
  margin: 0 auto;
}
