.profile-wrap {
  margin: 40px 0px;
  width: 100%;
}
.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit-profile-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.follow-now-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.follow-btn {
  margin-top: 5px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-color: #007bff;
  font-size: 14px;
}
.setting {
  background-image: url("/images/parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 7px 0 0 10px;
  background-size: 22px !important;
  border: none;
}
.setting:hover {
  cursor: pointer;
}
.user-name-font {
  font-weight: 300;
  font-size: 28px;
}
.name-font {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.setting-modal-margin {
  margin-top: 130px;
}
.information-ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.information-ul > li {
  font-size: 16px;
  margin-right: 40px;
}
.information-ul > li:first-child {
  margin-left: -40px;
}
.information-ul > li a {
  color: black;
  text-decoration: none;
}
.information-span {
  font-weight: 600;
}
